<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<div th:insert="fragments/commonui :: userheader"></div>
	<div th:insert="fragments/commonui :: usermenu"></div>
	<div class="container">
	
		<div class="card">

			<div class="card-header bg-primary text-white text-center">
				<h3>WELCOME TO GRN PARTS DATA PAGE</h3>
			</div>

			<div class="card-body">
				<table class="table table-hover">
					<tr>
						<th>GRN CODE</th>
						<td th:text="${grnCode}" class="bg-info text-white"></td>
						<th>ORDER CODE</th>
						<td th:text="${orderCode}" class="bg-info text-white"></td>
					</tr>
				</table>
					
			
				<table class="table table-hover">
					<tr class="bg-success text-white">
						<th>ITEM CODE</th>
						<th>BASE COST</th>
						<th>QUANTITY</th>
						<th>ITEM VALUE</th>
						<th>OPERATION</th>
					</tr>
					<!-- for(ShipmentType ob:list) {} -->
					<tr th:each="ob:${list}">
						<td th:text="${ob.itemCode}"></td>
						<td th:text="${ob.baseCost}"></td>
						<td th:text="${ob.qty}"></td>
						<td th:text="${ob.itemValue}"></td>
						<td>
							<th:block th:if="${ob.status==null}">
								<a class="btn btn-primary" th:href="@{/grn/statusUpdate(grnId=${ob.grn.id},dtlId=${ob.id},status=ACCEPTED)}">ACCEPT</a> |
								<a class="btn btn-warning" th:href="@{/grn/statusUpdate(grnId=${ob.grn.id},dtlId=${ob.id},status=REJECTED)}">REJECT</a>
							</th:block>
							<th:block th:if="${ob.status=='ACCEPTED'}">
								<b class="text-primary">ACCEPTED</b>
							</th:block>
							<th:block th:if="${ob.status=='REJECTED'}">
								<b class="text-warning">REJECTED</b>
							</th:block>
						</td>
					</tr>
				</table>

			</div>
		</div>
	</div>

</body>
</html>