<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>shipping Data Details</title>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
</head>
<body>
	
	<div th:insert="fragments/commonui :: userheader"></div>
	<div th:insert="fragments/commonui :: usermenu"></div>
	<div class="container">
	
		<div class="card">
			<div class="card-body">
				<div class="form-group">
					<div class="row text-center">
						<div class="col-10">

							<form th:action="@{all}" method="GET">
								<div class="row">
									<div class="col-8">
										<input type="text" name="name" placeholder="Search..."
											class="form-control" />
									</div>

									<div class="col-4">
										<input type="submit" value="Search" class="btn btn-secondary" />

									</div>
								</div>
							</form>
						</div>
						<div class="col-2">
							<a th:href="@{/shipping/excel}" class="btn btn-warning btn-md "><i
								class="fas fa-file-excel"></i></a> &nbsp; <a
								th:href="@{/shipping/pdf}" class="btn btn-secondary btn-md "><i
								class="fas fa-file-pdf"></i></a>

						</div>
					</div>
				</div>
				<table class="table table-hover text-center">
					<thead class="bg-dark text-white font-weight-light">
						<tr>
							<th>ID</th>
							<th>CODE</th>
							<th>REF NO</th>
							<th>ORDER CODE</th>
							<th colspan="6">OPERATIONS</th>
						</tr>
					</thead>
					<tbody>
						<!-- page.getContent() -->
						<tr th:each="ob:${list}">
							<td th:text="${ob.id}"></td>
							<td th:text="${ob.shippingCode}"></td>
							<td th:text="${ob.shippingRefNum}"></td>
							<td th:text="${ob.so.orderCode}"></td>
							<td><a th:href="@{/shipping/edit/{id}(id=${ob.id})}"
								class="btn btn-success"><i class="far fa-edit"></i></a></td>
							<td><a th:href="@{/shipping/view/{id}(id=${ob.id})}"
								class="btn btn-info"><i class="far fa-eye"></i></a></td>
							<td><a th:href="@{/shipping/delete/{id}(id=${ob.id})}"
								class="btn btn-danger"><i class="fas fa-trash-alt"></i></a></td>
							<td><a th:href="@{/shipping/excel/{id}(id=${ob.id})}"
								class="btn btn-warning"><i class="fas fa-file-excel"></i></a></td>
							<td><a th:href="@{/shipping/pdf/{id}(id=${ob.id})}"
								class="btn btn-primary"><i class="fas fa-file-pdf"></i></a></td>
							<td><a th:href="@{/shipping/viewDtls/{id}(id=${ob.id})}"
								class="btn btn-primary">VEIW PARTS</a></td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- body end -->
			<div th:if="${message!=null}">
				<div class="card-footer bg-info text-white text-center">
					<b><span th:text="${message}"></span></b>
				</div>
				<!-- footer end -->
			</div>
			<!-- condition end -->
		</div>

		<!-- card end -->
	</div>
	<!-- container end -->
</body>
</html>